/* =========================
   Reset Básico e Configuração Inicial
   ========================= */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   Estilo do Corpo da Página
   ========================= */
body {
    padding-top: 80px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/images/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h3 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 20px;
    align-self: flex-start;
}

/* =========================
   Componentes do Cabeçalho
   ========================= */
.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9370DB;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 50px;
    margin-right: 10px;
}
.logo h1 {
    color: white;
    font-size: 24px;
}

.navbar {
    display: flex;
    align-items: center;
    position: relative;
}

/* =========================
   Elementos de Navegação
   ========================= */
.nav-links {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dcd7e4;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    min-width: 250px;
    width: auto;
    min-height: 100px;
    height: auto;
    gap: 15px;
}
.nav-links.active {
    display: flex;
}
.nav-links li a {
    color: rgb(212, 116, 25);
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding: 15px 25px;
}
.nav-links li a:hover {
    text-decoration: underline;
}

.menu-icon {
    display: block;
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
}

/* =========================
   Ações do Usuário
   ========================= */
.user-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-actions a {
    text-decoration: none !important;
}

.login-container, .cart-container {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    gap: 5px;
    padding: 8px 12px;
    background-color: #9370DB;
    color: white;
    transition: background-color 0.3s ease;
}
.login-container:hover, .cart-container:hover {
    background-color: #9370DB;
}
.login-container svg, .cart-container svg {
    width: 20px;
    height: 20px;
    fill: white;
}
.login-text, .cart-text {
    font-size: 16px;
    color: white;
}
#contador-carrinho {
    background-color: #ec9f05;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    margin-left: 4px;
}

/* =========================
   Componentes do Carrossel
   ========================= */
.carousel {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: auto;
    min-height: 200px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}
.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 800px;
    display: block;
    border-radius: 10px;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0%;
    font-size: 15px;
    z-index: 1001;
}
.carousel-button.prev {
    left: 10px;
}
.carousel-button.next {
    right: 10px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 1001;
}
.carousel-indicators span {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.carousel-indicators span.active {
    background-color: white;
}

/* =========================
   Seções de Conteúdo
   ========================= */
.product-info {
    padding: 40px 20px;
    text-align: center;
}

.section-bar {
    height: 4px;
    background-color: #333;
    margin: 20px auto;
    width: 55%;
}

.top-bar {
    height: 4px;
    background-color: #333;
    width: 20%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.info-content h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.7);
}
.info-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.7);
    max-width: 800px;
    margin: 0 auto 20px;
}

/* =========================
   Cards de Produtos
   ========================= */
.product-destaque {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.card {
    width: 15rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-body {
    background-color: #8c658d;
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
}

.list-group-item {
    background-color: #d4b77f !important;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    transition: background-color 0.3s ease;
}

.card-body a {
    color: #0d1a29;
    text-decoration: none;
    margin: 0 5px;
}
.card-body a:hover {
    text-decoration: underline;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #9370DB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.card-button.add-to-cart {
    background-color: #d4b77f;
}
.card-button.add-to-cart:hover {
    background-color: #b47b07;
}
.card-button.view-details {
    background-color: #d4b77f;
}
.card-button.view-details:hover {
    background-color: #b47b07;
}

/* =========================
   Componentes Diversos
   ========================= */
#cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.cart-content {
    background-color: #9370DB; /* fundo alterado para roxo */
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#cart-items {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}
#cart-items table {
    width: 100%;
    border-collapse: collapse;
}
#cart-items th, #cart-items td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#cart-items th {
    background-color: #f2f2f2;
}

/* =========================
   Estilos para Forms e Botões dentro deles/Modais
   ========================= */
form {
    background-color: #9370DB;
    padding: 20px;
    border-radius: 8px;
}

form button,
.modal-content button,
.cart-content button,
#register-modal button {
    background-color: #d4b77f;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* =========================
   CSS dos Modais
   ========================= */

/* ---------- Login Modal CSS ---------- */
#login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;  /* caso queira empilhar os estados */
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

/* Conteúdo para estado "login" */
#login-modal .modal-content[data-state="login"] {
    position: relative;
    background-color: #9370DB;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: left;
    margin-bottom: 20px; /* se desejar separação entre estados */
}

#login-modal .modal-content[data-state="login"] h2 {
    margin-top: 5px;
    text-align: left;
}

/* Botão de fechar do estado "login" */
#close-login-modal-login {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Conteúdo para estado "logged-in" */
#login-modal .modal-content[data-state="logged-in"] {
    position: relative;
    background-color: #9370DB;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: left;
}

#login-modal .modal-content[data-state="logged-in"] p {
    margin-top: 5px;
    text-align: left;
    padding: 10px;
}

/* Botão de fechar do estado "logged-in" */
#close-login-modal-logged-in {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* ---------- Register Modal CSS ---------- */
#register-modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #9370DB;
    width: 400px;
    height: auto;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#register-modal .modal-content {
    /*position: relative;*/
    background-color: #9370DB;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

#register-modal .modal-content h2 {
    margin-top: 5px;
    text-align: left;
}

/* Botão de fechar do Register Modal */
#close-register-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* =========================
   Media Queries
   ========================= */
@media (max-width: 600px) {
    .login-text, .cart-text {
        display: none;
    }
}

@media (min-width: 1200px) {
    .carousel-item img {
        height: 635px;
    }
}

@media (max-width: 1200px) {
    .carousel-item img {
        height: 650px;
    }
    .card {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 992px) {
    .carousel-item img {
        height: 300px;
    }
}

@media (max-width: 768px) {
    .carousel-item img {
        max-height: 300px;
    }
    .carousel {
        min-height: 150px;
    }
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .carousel-item img {
        max-height: 140px;
    }
    .carousel {
        min-height: 100px;
    }
    .card {
        width: 100%;
    }
}

/*===================================
        MODAL
===================================*/   
.show-modal {
    display: flex !important;
}

.hide-modal {
    display: none !important;
}
/*===================================
        WHATSAPPLINK
===================================*/
.wpplink {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #991b6f;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 60px; /* centraliza verticalmente o ícone */
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  .wpplink:hover {
    background-color: #ad7307;
  }
/*===================================
        FOOTER                        
===================================*/
/* Rodapé Geral */
.footer {
    background-color: #9370DB;;
    color: #fff;
    padding: 0px;
    font-family: Arial, sans-serif;
    width: 100%;
    height: auto;
}
  
  
  /* Container do Rodapé (para as 4 colunas) */
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Cada Coluna do Rodapé */
  .footer-column {
    flex: 1 1 200px;
    margin: 10px;
  }
  
  .footer-column h3 {
    margin-bottom: 20px;
    font-size: 18px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
  }
  
  /* Lista de Links */
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-column ul li a:hover {
    color: #d4b77f;
  }
  
  /* Redes Sociais */
  .social-links a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-links img {
    width: 32px;
    height: 32px;
    transition: opacity 0.3s;
  }
  
  .social-links a:hover img {
    opacity: 0.8;
  }
  
  /* Rodapé Inferior */
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #9370DB;;
    padding-top: 20px;
    font-size: 14px;
  }
  