<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Em Construção</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        body {
            font-family: sans-serif;
            text-align: center;
            padding: 50px;
            background-image: url("/static/images/fundo.png");

        }
        h1 {
            font-size: 3em;
            margin-bottom: 20px;
            color: #d4b77f;
        }
        p {
            font-size: 1.2em;
            margin-bottom: 30px;
            color: #d4b77f;
        }
    </style>
</head>
<body>
    <h1>Em Construção</h1>
    <p>Desculpe pelo transtorno.</p>
    <p>Estamos trabalhando para trazer um novo site para você. Volte em breve!</p>
    <p>Enquanto isso, você pode nos contatar pelo whatsapp na página inicial </p>
  <img src="/static/images/construct.png" alt="">
</div>
<a href="https://api.whatsapp.com/send?phone=5521981603780" target="_blank" class="wpplink">
<i class="fab fa-whatsapp"></i>
</a>
<footer class="footer">
<div class="footer-container">
  <!-- Coluna 1: Links -->
  <div class="footer-column">
    <h3>Sobre Nós</h3>
    <ul>
      <li><a href="#">Nossas Lojas</a></li>
      <li><a href="#">Referencias</a></li>
      <li><a href="#">Missão &amp; Valores</a></li>
    </ul>
  </div>
  <!-- Coluna 2: Links -->
  <div class="footer-column">
    <h3>Serviços</h3>
    <ul>
      <li><a href="#">Consultoria</a></li>
      <li><a href="#">Indicações</a></li>
      <li><a href="#">Suporte</a></li>
    </ul>
  </div>
  <!-- Coluna 3: Links -->
  <div class="footer-column">
    <h3>Recursos</h3>
    <ul>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Tutoriais</a></li>
      <li><a href="#">Perguntas Frequentes</a></li>
    </ul>
  </div>
  <!-- Coluna 4: Redes Sociais -->
  <div class="footer-column">
    <h3>Redes Sociais</h3>
    <div class="social-links">
      <a href="https://facebook.com" target="_blank">
        <img src="/static/images/facebook.svg" alt="Facebook">
      </a>
      <a href="https://twitter.com" target="_blank">
        <img src="/static/images/twitter.svg" alt="Twitter">
      </a>
      <a href="https://instagram.com" target="_blank">
        <img src="/static/images/instagram.svg" alt="Instagram">
      </a>
      <!-- Adicione mais links conforme necessário -->
    </div>
  </div>
</div>
<div class="footer-bottom">
  <p>&copy; 2025 Botica Suplementos. Todos os direitos reservados.</p>
</div>
</footer>

<!-- Script JS -->
<script src="/static/script.js"></script>


</body>
</html>